// Material Shadows
shadow-level(l = 1)
    if l == -1
        box-shadow: inset -2px 7px 9px -7px rgba(0,0,0,0.7);
    if l == 0
        box-shadow: none;
    if l == 1
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    if l == 2
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    if l == 3
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    if l == 4
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    if l == 5
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);


// Colors
black = #222
grey = #D8D8D8
light-grey = #EEE
purp = #524763
dark-purp = #373142
red = #E54B4B
teal = #82D8D8
dark-teal = #66A6A6
green = #CBE56C
blue = #16528E
bright-blue = #0082C8
maroon = #6A2140
light-red = #CA5765
pink = #CF256D
orange = #E8846B

z = {
    neg: -7,
    lowest: 1,
    low: 4,
    mid: 5,
    video: 6,
    header: 7,
    nav: 8,
    mini: 9,
    modal: 10,
    highest: 11
}

.footer
  color: #787878

.panel
  shadow-level(l = 2)

.panel-body
  .row
    padding 5px

.panel-program
  color: #676A6C
  i,h3
    color: #337ab7

.home-program
  .date
    text-align center

.panel-dashboard
  text-align center
  .panel-body
    font-size: 32px
    font-style: oblique
    color: #5d9cec

.profile-photo
  width: 250px

.navbar-logo
  padding 0px
  img
    height 100%
    padding 5px
    width auto

#accordion
  .panel
    a
      text-decoration none

.panel-heading
  a
    text-decoration none

.error
  height 200px
  width 400px
  position fixed
  top 50%
  left 50%
  margin-top -100px
  margin-left -200px
  color #808080

.hover1 .col-sm-2 ul
  margin-top 20px
  li
    height 30px
    line-height 30px
    font-size 16px

.date
  text-align center
  list-style none

.foot
  margin 30px 0px 25px 0px
